/* Taşmayı engelle */
body {
  overflow-x: hidden;
}
.catalog-page {
  display: flex;
  gap: 40px;
  padding: 40px 64px;
  background-color: white;
  width: 100%;
}

/* LEFT FILTERS */
.filters {
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.filters h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.filter-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #101828;
}

.filter-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #344054;
}

.location-input {
  padding: 10px;
  border: 1px solid #dadde1;
  border-radius: 8px;
}

/* RIGHT SIDE: CAMPER LIST */
.campers {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.camper-card {
  display: flex;
  gap: 24px;
  padding: 24px;
  border: 1px solid black;
  border-radius: 12px;
  background: #fff;
}

.camper-img {
  width: 292px;
  height: 320px;
  object-fit: cover;
  border-radius: 12px;
}

.camper-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.camper-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 20px;
  font-weight: 600;
  color: #101828;
}

.rating {
  font-size: 14px;
  color: #475467;
}

.location-text {
  font-size: 14px;
  color: #6b7280;
}

.desc {
  color: #475467;
  line-height: 1.4;
  max-width: 600px;
}

.features {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 8px;
  color: #000;
}

.features span {
  background: #f3f4f6;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 14px;
}

.show-btn {
  margin-top: 12px;
  width: 120px;
  padding: 10px;
  background: #e44848;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.show-btn:hover {
  background: #d33f3f;
}
