.filter-bar {
  width: 260px;
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid #e4e4e4;
  display: flex;
  flex-direction: column;
  gap: 32px;
 
}

.filter-label {
  color: #858585;
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
}

.filter-input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #dadada;
  border-radius: 12px;
  font-size: 14px;
  outline: none;  
  transition: 0.25s;
  align-items: flex-start;
}

.filter-title {
  font-size: 20px;
  margin-bottom: -10px;
}

.filter-section {
  display: flex;
  flex-direction: column;
  gap: 14px;
 
}

.filter-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.filter-item {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #dadada;
  background: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.25s;
}

.filter-item:hover,
.filter-item.active {
  border-color: #e44848;
  color: #e44848;
}
.filter-item.active {
  background-color: #e7f1ff;
  border: 2px solid #3478f6;
}


.search-btn {
  padding: 14px;
  background: #e44848;
  color: #fff;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.25s;
}

.search-btn:hover {
  background: #d04040;
}
