.gallery {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main-image {
  width: 100%;
  height: 280px;
  border-radius: 12px;
  object-fit: cover;
}

.thumbnails {
  display: flex;
  gap: 12px;
}

.thumbnail {
  width: 95px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.2s;
}

.thumbnail:hover,
.thumbnail.active {
  opacity: 1;
  border: 2px solid #e44848;
}
