.tabs {
  display: flex;
  gap: 16px;
  margin: 30px 0;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 10px;
}

.tabs button {
  background: none;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #6c6c6c;
  transition: all 0.3s ease;
  position: relative;
}

.tabs button:hover {
  color: #101828;
}

.tabs button.active {
  color: #101828;
  font-weight: 600;
}

.tabs button.active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 3px;
  background: #e44848;
  border-radius: 2px;
}
